# Created by .ignore support plugin
# Logs 日志文件
*.log

# Runtime 缓存文件
Application/Runtime

# upload 图片文件
Public/site_upload

# react 软连接
Public/pc
Public/pc_build
Public/weixin
Public/wx_build

# other 编辑器产生的文件
.idea/
.DS_Store
.buildpath
.project


